<%- model_class = TypePersonne -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name("Libellé") %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @type_personnes.each do |type_personne| %>
      <tr>
        <td><%= type_personne.libelle %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.Modifier")),
                      edit_type_personne_path(type_personne), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.Suppr")),
                      type_personne_path(type_personne),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Êtes-vous sûr ?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_type_personne_path,
            :class => 'btn btn-primary' %>
