<%- model_class = TypePersonne -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:libelle) %>:</strong></dt>
  <dd><%= @type_personne.libelle %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              type_personnes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_type_personne_path(@type_personne), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              type_personne_path(@type_personne),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
