<%= form_for @personne, :html => { :class => 'form-horizontal' } do |f| %>
 <div class="control-group">
    <%= f.label :prenom, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :prenom, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nom, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nom, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :surnom, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :surnom, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :type_personne, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :type_personne_id, TypePersonne.order("libelle").all, :id, :libelle %>

    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                personnes_path, :class => 'btn' %>
  </div>
<% end %>
