<%- model_class = Personne -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name("Nom") %></th>
      <th><%= model_class.human_attribute_name("Surnom") %></th>
      <th><%= model_class.human_attribute_name("Type de personne") %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @personnes.each do |personne| %>
      <tr>
        <td><%= personne.nom_complet %></td>
        <td><%= personne.surnom %></td>
        <td><%= personne.type_personne %></td>
        <td>
           <%= link_to t('.show', :default => t("helpers.links.Détails")),
                      personne, :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.Modifier")),
                      edit_personne_path(personne), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.Suppr.")),
                      personne_path(personne),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Êtes-vous sûr ?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_personne_path,
            :class => 'btn btn-primary' %>
