<%- model_class = Personne -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:prenom) %>:</strong></dt>
  <dd><%= @personne.prenom %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nom) %>:</strong></dt>
  <dd><%= @personne.nom_complet %></dd>
  <dt><strong><%= model_class.human_attribute_name(:surnom) %>:</strong></dt>
  <dd><%= @personne.surnom %></dd>
  <dt><strong><%= model_class.human_attribute_name(:type_personne_id) %>:</strong></dt>
  <dd><%= @personne.type_personne %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              personnes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_personne_path(@personne), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              personne_path(@personne),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Êtes-vous sûr ?')) },
              :class => 'btn btn-danger' %>
</div>
