<%= f.link_to_remove "Supprimer cette fonction" %>



<div>
  <%= f.label :debut %>
  <div>
    <%= f.text_field :debut, data:{"date-format"=>"dd/mm/yyyy"} %>
  </div>
</div>

<div>
  <%= f.label :fin %>
  <div>
    <%= f.text_field :fin%>
  </div>
</div>


<hr />