<%= form_for @programme, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :debut, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :debut, :order =>[:day, :month, :year], :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :fin, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :fin, :order =>[:day, :month, :year] , :default => 1.hours.from_now, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :libelle, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :libelle, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :personne, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :personne_id, Personne.order("Nom").all, :id, :nom_complet_type %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :chaine_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :chaine_id, Chaine.order("numero").all, :numero, :nom %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                programmes_path, :class => 'btn' %>
  </div>
<% end %>
