<%- model_class = Programme -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name("Début") %></th>
      <th><%= model_class.human_attribute_name("Fin") %></th>
      <th><%= model_class.human_attribute_name("Libelle") %></th>
      <th><%= model_class.human_attribute_name("Chaîne") %></th>
      <th><%= model_class.human_attribute_name("Personne") %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @programmes.each do |programme| %>
      <tr>
        <td>Le <%= programme.debut.strftime('%d-%m-%Y à %Hh%M') %></td>
        <td>au <%= programme.fin.strftime('%d-%m-%Y à %Hh%M') %></td>
        <td><%= programme.libelle %></td>
        <td><%= programme.chaine%></td>
        <td><%= programme.personne %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.Détails")),
                      programme, :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.Modifier")),
                      edit_programme_path(programme), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.Suppr")),
                      programme_path(programme),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Êtes-vous sûr ?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_programme_path,
            :class => 'btn btn-primary' %>
