<%- model_class = Programme -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name("Début") %>:</strong></dt>
  <dd><%= @programme.debut.strftime('%d-%m-%Y à %Hh%M') %></dd>
  <dt><strong><%= model_class.human_attribute_name("Fin") %>:</strong></dt>
  <dd><%= @programme.fin.strftime('%d-%m-%Y à %Hh%M') %></dd>
  <dt><strong><%= model_class.human_attribute_name("Libelle") %>:</strong></dt>
  <dd><%= @programme.libelle %></dd>
  <dt><strong><%= model_class.human_attribute_name("Chaîne") %>:</strong></dt>
  <dd><%= @programme.chaine %></dd>
  <dt><strong><%= model_class.human_attribute_name("Personne") %>:</strong></dt>
  <dd><%= @programme.personne %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              programmes_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_programme_path(@programme), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              programme_path(@programme),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
