<%= form_for @enregistrement, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :programme, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :programme_id, Programme.order("chaine_id").all, :id, :libelle, {:include_blank => true}, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :marge_avant, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :marge_avant, :class => 'number_field' %> minutes
    </div>
  </div>
  <div class="control-group">
    <%= f.label :marge_apres, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :marge_apres, :class => 'number_field' %> minutes
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                enregistrements_path, :class => 'btn' %>
  </div>
<% end %>
