<%- model_class = Enregistrement -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name("Titre du programme") %></th>
      <th><%= model_class.human_attribute_name("Chaîne") %></th>
      <th><%= model_class.human_attribute_name("Heure de début") %></th>
      <th><%= model_class.human_attribute_name("Heure de fin") %></th>
      <th><%= model_class.human_attribute_name("Debut enregistrement") %></th>
      <th><%= model_class.human_attribute_name("Fin enregistrement") %></th>
      <th><%= model_class.human_attribute_name("État") %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @enregistrements.each do |enregistrement| %>
      <tr>
        <td><%= enregistrement.titre_tv %></td>
        <td><%= enregistrement.chaine %></td>
        <td><%= enregistrement.heure_debut %></td>
        <td><%= enregistrement.heure_fin %></td>
        <td><%= enregistrement.rec_debut %></td>
        <td><%= enregistrement.rec_fin %></td>
        <td><%= enregistrement.etat_d %></td>
        <td>
           <%= link_to t('.show', :default => t("helpers.links.Détails")),
                      enregistrement, :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.Modifier")),
                      edit_enregistrement_path(enregistrement), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.Suppr")),
                      enregistrement_path(enregistrement),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Êtes-vous sûr ?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_enregistrement_path,
            :class => 'btn btn-primary' %>
