<%- model_class = Enregistrement -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name("Titre du programme TV") %>:</strong></dt>
  <dd><%= @enregistrement.titre_tv %></dd>
  <dt><strong><%= model_class.human_attribute_name("Début du programme") %>:</strong></dt>
  <dd><%= @enregistrement.heure_debut %></dd>
  <dt><strong><%= model_class.human_attribute_name("Fin du programme") %>:</strong></dt>
  <dd><%= @enregistrement.heure_fin %></dd>
  <dt><strong><%= model_class.human_attribute_name("Début de l'enregistrement") %>:</strong></dt>
  <dd><%= @enregistrement.rec_debut %></dd>
  <dt><strong><%= model_class.human_attribute_name("Fin de l'enregistrement") %>:</strong></dt>
  <dd><%= @enregistrement.rec_fin %></dd> 
  <dt><strong><%= model_class.human_attribute_name("Marge avant") %>:</strong></dt>
  <dd><%= @enregistrement.marge_avant %> minute(s)</dd> 
  <dt><strong><%= model_class.human_attribute_name("Marge après") %>:</strong></dt>
  <dd><%= @enregistrement.marge_apres %> minute(s)</dd> 
  <dt><strong><%= model_class.human_attribute_name("Etat") %>:</strong></dt>
  <dd><%= @enregistrement.etat_d %></dd> 
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              enregistrements_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_enregistrement_path(@enregistrement), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              enregistrement_path(@enregistrement),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
