<%= form_for @chaine, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :nom, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nom, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :numero, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :numero, :class => 'number_field' %>
    </div>
  </div>
    <div class="control-group">
    <%= f.label "Lien du logo", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :img_link, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                chaines_path, :class => 'btn' %>
  </div>
<% end %>
