<%- model_class = Chaine -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.Edit', :model => model_class.model_name.human,
                                   :default => "Editer #{model_class.model_name.human}") %></h1>
</div>
<%= render :partial => 'form' %>
