<%- model_class = Chaine -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name("Nom de la chaîne") %></th>
      <th><%= model_class.human_attribute_name("Numero") %></th>
      <th><%= model_class.human_attribute_name("En ce moment") %></th>
      <th><%= model_class.human_attribute_name("Prochainement") %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @chaines.each do |chaine| %>
      <tr>
        <td><%= chaine.logo %></td>
        <td><%= chaine.numero %></td>
        <td><%= chaine.en_ce_moment %></td>
        <td><%= chaine.prochainement %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.Détails")),
                      chaine, :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.Modifier")),
                      edit_chaine_path(chaine), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.Suppr")),
                      chaine_path(chaine),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Êtes-vous sûr ?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.Nouvelle chaine")),
            new_chaine_path,
            :class => 'btn btn-primary' %>
