<%- model_class = Chaine -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name("Nom") %>:</strong></dt>
  <dd><%= @chaine.nom %></dd>
  <dt><strong><%= model_class.human_attribute_name("Numéro") %>:</strong></dt>
  <dd><%= @chaine.numero %></dd>
  <dt><strong><%= model_class.human_attribute_name("En ce moment") %>:</strong></dt>
  <dd><%= @chaine.en_ce_moment %></dd>
  <dt><strong><%= model_class.human_attribute_name("Prochainement") %>:</strong></dt>
  <dd><%= @chaine.prochainement %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.Retour")),
              chaines_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.Editer")),
              edit_chaine_path(@chaine), :class => 'btn' %>
 
</div>
